<section id="experience" class="experience-section">
  <h1 class="section-title">My Work Experience</h1>

  <div class="experience-card">
    <div class="timeline">2022 — Present</div>
    <div class="experience-info">
      <div class="role-title">
        Software Development Engineer (SDE-1) &#64; Amadeus Software Labs ✈
      </div>
      <ul class="role-description">
        <li>
          Led Angular migration, enhancing application performance by 20% and user interactions by 35%.
        </li>
        <li>
          Developed innovative projects like the <em>Dream Destination Planner</em>, increasing customer acquisition by 8%.
        </li>
        <li>
          Built a <em>Real-Time Customer Feedback</em> tool with analytics, boosting feature adoption by 20%.
        </li>
        <li>
          Launched <em>eSIM Integration</em> for seamless global connectivity, increasing ancillary revenue by 7.8%.
        </li>
        <li>
          Regularly modernized codebases to reduce technical debt by 15%, improving maintainability and performance.
        </li>
      </ul>
      <ul role="list" class="tech-list">
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Java</li>
        <li>NgRx</li>
        <li>Jest</li>
        <li>Jasmine</li>
      </ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="timeline">2022 (Internship)</div>
    <div class="experience-info">
      <div class="role-title">Intern &#64; Amadeus Software Labs ✈</div>
      <ul class="role-description">
        <li>
          Migrated a complex 7-tab popup from ARIA to Angular, improving performance by 30%.
        </li>
        <li>
          Enhanced UI responsiveness by 60% using Angular 14 and NgRx for state management.
        </li>
        <li>
          Migrated middle-layer Java code for API creation and backend response parsing.
        </li>
      </ul>
      <ul role="list" class="tech-list">
        <li>Angular</li>
        <li>NgRx</li>
        <li>Java</li>
        <li>Spring</li>
        <li>TypeScript</li>
        <li>Sonar</li>
      </ul>
    </div>
  </div>
</section>
