<section class="about-section" id="about">
  <img
    src="assets/about.webp"
    width="250"
    height="450"
    class="hero-image"
    srcset="assets/about.webp 100w, assets/about.webp 200w, assets/about.webp 300w"
    alt="about image"
    priority
  />
  <div class="about-text">
    <h1 class="section-title">About me</h1>
    <p>
      <span style="font-size: 2rem">👋</span> Hi, I'm Akash, a
      <span>full stack software engineer</span>. My journey into programming began in
      2018 when I started exploring coding by building simple applications. Seeing
      ideas come to life on the screen <span style="font-size: 1.25rem">💻</span> sparked
      a passion for creating innovative solutions.
    </p>
    <p>
      Motivated by technology’s limitless potential, I pursued engineering
      <span style="font-size: 1.5rem">🎓</span> and graduated in 2022 with a
      B.Tech in Electronics and Communication Engineering. During my studies, I
      developed web applications<span style="font-size: 1.5rem">💻</span> and
      even freelanced projects, enhancing both technical and client interaction skills.
    </p>
    <p>
      After graduation, I joined
      <span>
        <a href="https://www.amadeus.com/" target="_blank" class="hyperlink">
          Amadeus Software Labs ✈
        </a>
      </span>
      , where I specialized in web development, building scalable solutions with
      <span>Angular, TypeScript, and Java</span>. From modernizing legacy codebases to
      enhancing UI responsiveness by 60%, I contributed to innovative projects such as
      <em>Dream Destination Planner</em> and <em>eSIM Integration</em>.
    </p>
    <p>
      Currently, I’m advancing my career as a Software Development Engineer at
      <a href="https://www.amadeus.com/" target="_blank" class="hyperlink">
        Amadeus Software Labs ✈
      </a>
      , where I’m excited to continue exploring new horizons and technologies.
    </p>
    <p>
      Throughout my journey, I’ve tackled numerous challenges <span style="font-size: 1.5rem">🏋️</span>,
      from debugging complex systems to staying updated with modern frameworks.
      These experiences have strengthened my problem-solving abilities, resilience, and passion for growth🎖️.
      Learning and innovating every day is a way of life for me 📆!
    </p>
  </div>
</section>
